---
/* eslint-disable-next-line import/no-unresolved */
import { getCollection } from "astro:content";
import type { InferGetStaticPropsType } from "astro";
import { SarkaraLayout } from "@cieloazul310/astro-sarkara";
import { vstack } from "styled-system/patterns";
import Category from "@/components/Category.astro";
import { menu, siteMetadata } from "@/data";

import "@/index.css";

export async function getStaticPaths() {
  const allCategoryTypes = await getCollection("categoryType");
  const allCategories = await getCollection("category");

  return allCategoryTypes.map(({ id, data }) => {
    const includedCategoriesIdCollection = data.categories.map(
      (categories) => categories.id,
    );
    const includedCategories = allCategories
      .filter((category) =>
        includedCategoriesIdCollection.includes(category.id),
      )
      .sort(
        (a, b) =>
          includedCategoriesIdCollection.indexOf(a.id) -
          includedCategoriesIdCollection.indexOf(b.id),
      );

    return {
      params: {
        categoryType: id,
      },
      props: {
        title: data.name,
        categories: includedCategories,
      },
    };
  });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { title, categories } = Astro.props as Props;
---

<SarkaraLayout title={title} menu={menu} siteMetadata={siteMetadata}>
  <div class={vstack({ gap: 4, alignItems: "stretch" })}>
    {categories.map((category) => <Category category={category} />)}
  </div>
</SarkaraLayout>
